/********************************************************************************************************
 *																										*
 * File Name: main.css																					*
 * Date: 2025-03-24																						*
 * Description:																							*
 * 	This file contains the stylesheet information required for the March CodePen project (Week 4).		*
 * 	This file resets the layout of the page to ensure that browser defaults don't affect the 			*
 *	appearance of the page. The file also contains the information to perform the isometric appear-		*
 *	ance of the page. 																					*
 *																										* 
 ********************************************************************************************************/
 
/* Override Defaults */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

/* Blocking */

body {
	width: 100vw;
	height: 100vh;
	
	background-color: red;
	display: grid;
	justify-content: center;
}

section.grid {
	display: grid;
	
	/* -- Notice that this is a 16:9 aspect ratio -- */
	width: 80vw;
	height: 80vh;
	
	background-color: blue;
	grid-template-rows: repeat(100, 1%);
}

.row {
	width: 100%;
	color: #FFF;
	font-size: 1rem;
	font-weight: bold;
	text-align: center;
	align-self: center;
	display: grid;
}